table {
  margin-top: 10px;
  margin-left: 150px;
  padding: 10px;
  width: 100%;
  border-collapse:initial;

  width: 80%;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
  cursor: pointer;
}
.pageofpage{
  margin-top:2px;
  margin-right: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.gotopage{
  width: 30%;
  height: 90%;
  margin-top: -5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.pagination{
  display: flex;
  justify-content:center;
}
.showpage{
  width: 10%;
  margin-left: -120px;
  margin-top: -5px;

}
.searchfilter{
  display: flex;
  justify-content:flex-end;
  margin-top: 100px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 160px;
}
input {
  padding: 2px;
  font-size: 17px;
  border: 1px solid grey;
  background: #f1f1f1;
  border-radius: 5px;
}

th{
  background-color: #04AA6D;
  color: white;
  border-radius: 5px;


}
tbody{
  margin-bottom: 3px;

  font-size: 15px;
  line-height: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #6c2a7c;
 
  
}
td{
 
  border-collapse: collapse;
}

tr:nth-child(even)
 {background-color: #f2f2f2;}

tr:hover{
  color: 	#49976D;
  cursor: pointer;
}